@use "./margin.scss";

.theme-container.sidebar-open .sidebar {
  border: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.sidebar,
.navbar {
  z-index: 10000;
}

.component-wrapper {
  border: 1px solid #ebebeb;
  border-radius: 3px;
  transition: 0.2s;

  .component-wrapper-demo {
    padding: 24px 24px 15px 24px;
  }

  h4 {
    margin: 55px 0 20px;
  }

  &:hover {
    box-shadow: 0 0 8px 0 rgba(232, 237, 250, 0.6),
      0 2px 4px 0 rgba(232, 237, 250, 0.5);
    .lock-code .lock-code-word {
      font-size: 14px;
      opacity: 1;
      transform: translateX(-16px);
    }
  }
  .lock-code:hover {
    .void-icon {
      color: #409eff;
    }
  }

  .code-content {
    background-color: #fafafa;
    border-top: 1px solid #eaeefb;
    overflow: hidden;
    transition: height 0.2s;

    .code-content-height {
      .code-user-desc {
        background: #ffffff;
        border: 1px solid #ebebeb;
        border-radius: 3px;
        font-size: 14px;
        line-height: 26px;
        margin: 10px 10px 0 10px;
        padding: 5px 10px;
      }

      > pre {
        background: none;

        > code {
          color: #3182bd;
        }
      }
    }
  }

  .lock-code {
    background-color: #fff;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top: 1px solid #eaeefb;
    box-sizing: border-box;
    color: #999;
    cursor: pointer;
    height: 44px;
    line-height: 44px;
    margin-top: -1px;
    position: relative;
    text-align: center;

    text-align: center;

    &:hover {
      background-color: #f9fafc;

      .lock-code-word {
        color: #409eff;
      }

      .icon-down {
        fill: #409eff;
      }
    }

    .icon-down {
      transform: translateX(0px);
      transition: all 0.1s;
    }

    .lock-code-word {
      display: inline-block;
      font-size: 0px;
      margin-left: 15px;
      opacity: 0;
      transition: all 0.1s;
    }
  }
}

.theme-default-content {
  max-width: 1080px !important;
}

::-webkit-scrollbar {
  background-color: #f5f5f5;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  background-color: #f5f5f5;
  border-radius: 6px;
}

.el-table__body {
  border-collapse: collapse;
  margin: 0;
  td {
    border: unset;
  }
}
.el-table__header {
  border-collapse: collapse;
  margin: 0;

  th,
  tr {
    border: unset;
  }
  & th.el-table__cell.is-leaf {
    border-bottom: unset;
  }
}

.theme-default-content:not(.custom) a.el-link:hover {
  text-decoration: unset;
}

.demo textarea[disabled="disabled"] {
  background-color: #fff !important;
  border: 1px solid #dcdfe6 !important;
  color: #606266 !important;
}

.w-05 {
  width: 50%;
}

.m-auto {
  margin: 0 auto;
}

.d-flex {
  display: flex;
}
